// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* home perfil blogers*/
.home_perfil{
  border-radius: 50%;
  width: 100px;
}

/*end home perfil bloguers*/

.home_head{
  /*background: asset_url('fondo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  */
  background-color: #E6D1A1;
  min-height: 600px;
  background: asset_url('header.png');
  font-family: 'orange_juiceregular';
  color: white;

}
.home_head nav{
  margin-top: 50px;
}
/*text main*/
.text_main{
  margin-top: 60px;
  margin-left: 50px;
}
.text_main strong{
  font-weight: 500;
}

.logo{
  width: 80px;
  margin-left: 67px;
  margin-top: 36px;
}
.nav_home{

}
.nav_home li{
  display: inline-block;
  padding: 10px;
}
.nav_home li a{
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: rgb(219, 250, 255) 1px 2px 9px;
}