#login{
  background: asset_url('back.png');
  background-color: #444;
  background: asset_url('pinlayer2.png'),asset_url('pinlayer1.png'),asset_url('back.png');
}
.vertical-offset-100{
  padding-top:100px;
}