<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="row footer_title">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>Contactanos</h4>
          </div>
        </div>
        <p><strong>Email:</strong> admon@timeofmadnees.com</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="row footer_title">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>Siguenos</h4>
          </div>
        </div>
        <a href="https://www.facebook.com/timeofmadnessblog" class="footer_redes"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/timeofmadness" class="footer_redes"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCSLmC_FOssXDFYisjrRcEYw" class="footer_redes"><i class="fa fa-youtube"></i></a>
        <a href="" class="footer_redes"><i class="fa fa-github"></i></a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">

      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="row footer_title">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>Staff</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>