<!DOCTYPE html>
<html>
<head>
  <title>Timeofmadness</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:url"                content="http://timeofmadnees.com" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Time of Madness Donde encontraras los mejores bloguers...!" />
  <meta property="og:description"        content="Aqui encontraras mucho contenido variado.." />
  <meta property="og:image"              content="http://timeofmadnees.com/assets/header-4b2a5ebcc7dae07b48c47465296f0ade76fe4ce1e037668a89d35a129c41cc3f.png" />
</head>
<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1031371466877255',
            xfbml      : true,
            version    : 'v2.3'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<%= yield %>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
